@{
    ViewBag.Title = "ABOUT USHL TIER 1 JUNIOR HOCKEY";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<p>The 2021-22 season will be the USHL's 20th season as the nation's only Tier I junior hockey league. The USHL had 50 players selected at the 2021 NHL Draft, marking the fourth-straight season with 50-or-more USHL players selected in the Draft. More than 800 league alumni are currently on NCAA Division I rosters, further establishing the USHL as the world’s foremost producer of junior hockey talent.</p>
